<div class="row">
	<div class="col-md-6">
		<h3>Estadistica de atenciones</h3>
	</div>
	<div class="col-md-6">
		<%= link_to 'Generar y enviar', dashboard_send_report_path, class: 'btn btn-default' %>
	</div>
</div>

<div class="row">

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Distribución por agencia</div>
			<div class="panel-body graph" id="distribucion-agencia"></div>
		</div>
	</div>

<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Distribución por estado</div>
			<div class="panel-body graph"id="distribucion-estado"></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Promedio de espera (últimas 3 semanas)</div>
			<div class="panel-body graph"id="promedio-espera"></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Promedio de atención (últimas 3 semanas)</div>
			<div class="panel-body graph"id="promedio-atencion"></div>
		</div>
	</div>
</div>

